@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
*{
    font-family: "Roboto", sans-serif;
}
body{
    /*background: #e0e8f3;*/
    font-size: 18px;
    background: #121D24;
}
.row{
    opacity: 0;
}
.spec1{
    color: #6fcf97;
}
.spec2{
    color: #ffffff;
}
#countdown{
    font-size: 3rem;
    margin: 5px;
}
#countdown > .item{
    color: #ffffff;
    display: inline-block;
    padding: 20px 10px;
}
.count{
    display: block;
    text-align: center;
    line-height: 1;
    margin-top: -10px;
}
.refs{
    display: block;
    font-size: 1rem;
    text-align: center;
    line-height: 1;
}
.header > h1{
    font-size: 1.5rem;
}
.header{
    background: #000000;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 10px;
    border-image-source: linear-gradient(270deg, rgb(111, 207, 151), rgb(30, 66, 191));
    border-top: none;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
    color: #ffffff;
    margin: 0;
}
.info-block, .text-block{
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
    
    background: #000000;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(270deg, rgb(111, 207, 151), rgb(30, 66, 191));
    color: #a0bfc7;
    padding: 25px 30px;
    margin: 0;
}
.text-block{
    font-size: 16px;
}

.info-block:first-of-type, .text-block:first-of-type{
    margin-top: 25px;
}
.faq{
    margin-top: 25px;
}
.price-block{
    font-weight: 500;
    margin: 20px 0;
}
.price-theme{
    font-size:0.7em;
    letter-spacing: 0.1em;
    color: #758698;
    margin: 0;
}
.info-title, .text-title{
    color: #ffffff;
    font-weight: 500;
}
.text-title{
    font-size: 20px;
}
.price{
    font-size: 22px;
    margin: 0;
}
#wallet, #ref{
    background: #121D24;
    border: 2px solid #a0bfc7;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    color: #a0bfc7;
}
.copy, .ref{
    position: absolute;
    right: 5px;
    top: 0;
    height: 50px;
    background: transparent;
    border: none;
}
.popup-msg{
    background: #000000;
    color: #ffffff;
    width: 120px;
    height: 25px;
    font-size: 16px;
    position: absolute;
    top: -20px;
    right: -35px;
    opacity: 0;
    border-radius: 15px;
    text-align: center;
}


.pricing{
    text-align: right;
    background: #121D24;
    border: 2px solid #a0bfc7;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 400;
    height: fit-content;
    margin-bottom: 1rem;
    font-size: 14px;
    text-align: center;
    color: #a0bfc7;
}
.pricing-one{
    display: block;
    width: 100%;
}
.pricing-currency{
    font-weight: 500;
}
.links{
    display: block;
    margin: 0 10px;
    float: left;
    text-decoration: none;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 0;
    line-height: 1;
}
.links:first-of-type{
    margin-left: 0;
}
.links i{
    font-size: 2rem;
}
.links span{
    display: none;
}
.copyright{
    line-height: 1;
    margin-top: 0.5rem;
    display: block;
    float: right;
}
.footer{
    font-size: 1.2rem;
    max-width: 1296px;
    margin: 25px auto 10px;
    height: 40px;
    padding: 0 25px;
}
.register, .subscribe{
    margin: 0;
    padding: 0;
    width: 100%;
}
#register-address, #subscribe-address{
    background: #121D24;
    border: 2px solid #a0bfc7;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 500;
    height: 50px;
    margin-bottom: 1rem;
    color: #a0bfc7;
}
.register-button, .subscribe-button{
    font-weight: 500;
    color: #ffffff;
    background-color: #6fcf97;
    border: none;
    border-radius: 4px;
    height: 50px;
}
#reg-done, #sub-done{
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#reg-done .register-button, #sub-done .subscribe-button{
    width: 200px;
}
.done-icon{
    width: 100%;
    color: #6fcf97;
    font-size: 100px;
    margin-bottom: 25px;
}
.done-block{
    background: #121D24;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(270deg, rgb(111, 207, 151), rgb(30, 66, 191));
    padding: 60px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%,-50%);
    color: #a0bfc7;
}
.done-block h4{
    color: #ffffff;
}
.inputWrapper{
    width: 100%;
    position: relative;
}
.qr-code{
    display: none;
}
.logo{
    padding: 6%;
    width: 100%;
}
@media(min-width: 768px){
    .pricing{
        font-size: 16px;
        height: 45px;
    }
    .pricing-one{
        width: auto;
        float: left;
        display: block;
    }
    .pricing-currency{  
        float: right;
        display: block;
    }
    .inputWrapper{
        width: 80%;
    }
    .qr-code{
        display: block;
        float: right;
        width: 15%;
        margin-top: 2%;
        margin-right: 2%;
    }
    .header > h1{
        font-size: 2.5rem;
    }
    .logo{
        height: 100%;
        max-height: 190px;
        object-fit: contain;
    }
    .footer{
        margin-bottom: 0px;
    }
    .links span{
        color: #a0bfc7;
        display: inline;
    }
    .links i{
        font-size: 1.2rem;
    }
    .copyright{
        margin-top: 0;
    }
}
